<a href="https://colab.research.google.com/github/rifqol/studpen/blob/tugas-1/SC61416_Muhammad_Rifqi_Fadhilah_Foundation_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# SOAL 2

def calculate_investment(uang_awal, tahun):
    # Syntax agar uang_awal dan jangka waktu investasi sesuai ketentuan dan program akan menampilkan error message jika uang_awal atau tenure tidak sesuai ketentuan
    if uang_awal < 0 or uang_awal > 1000000000:
        print("Error: Investment capital must be between 0 and 1,000,000,000")
        return
    if tahun < 1 or tahun > 25:
        print("Error: Investment tenure must be between 1 and 25 years")
        return

    for tahun in range(1, tahun + 1):
        uang_awal += uang_awal * 0.25
        print(f"Year {tahun}, your total investment: {uang_awal:.1f}")

# Meminta input dari pengguna
uang_awal = int(input("Money Capital: "))
tahun = int(input("Investment Tenure (years): "))

# Menghitung akumulasi investasi
calculate_investment(uang_awal, tahun)

Money Capital: 1000000001
Investment Tenure (years): 5
Error: Investment capital must be between 0 and 1,000,000,000

In [ ]:
# SOAL 1
import pandas as pd
import re

path_dataset = "/content/Responden Dataset Assignment Chapter 1.xlsx"

df_14 = pd.read_excel(path_dataset)

{6}

In [ ]:
def get_int(value):
    return re.sub("\D", "", str(value))

In [ ]:
df_14['Berat Badan (kg)'] = df_14['Berat Badan (kg)'].apply(get_int)
df_14['Tinggi Badan (cm)'] = df_14['Tinggi Badan (cm)'].apply(get_int)

df_14['Berat Badan (kg)'] = df_14['Berat Badan (kg)'].astype(int)
df_14['Tinggi Badan (cm)'] = df_14['Tinggi Badan (cm)'].astype(int)

In [ ]:
def hitung_bmi(berat_badan, tinggi_badan): #fungsi untuk menghitung BMI
    tinggi_m = tinggi_badan / 100
    bmi = berat_badan / (tinggi_m ** 2)
    return bmi

In [ ]:
df_14['BMI'] = df_14.apply(lambda row: hitung_bmi(row['Berat Badan (kg)'], row['Tinggi Badan (cm)']), axis=1) # syntax untuk menambahkan kolom BMI

In [ ]:
print(df_14)

                 Timestamp Nomor Peserta                  Nama Lengkap  \
0  2024-02-26 22:53:13.757       SC61423  Ni Nyoman Bintang Marscelina
1  2024-02-26 23:14:38.870       SC61408                 Namia Fimieta
2  2024-02-26 23:34:03.101       SC61422         Luthfan Dipo Ramadhan
3  2024-02-26 23:37:00.133       SC61403              Anisya Wulandari
4  2024-02-26 23:46:36.507       SC61406               M. Dzaky Efendi
5  2024-02-26 23:47:36.143       SC61421         Fijar Yasmina Pritama
6  2024-02-27 00:05:06.707       SC61414            Haikal Humam Hafiz
7  2024-02-27 00:22:12.051       SC61418                 Sucik Arifah
8  2024-02-27 00:43:51.233       SC61404                 Fathan Nabila
9  2024-02-27 00:47:15.682       SC61402      Ardhiya Mahfira Prasasta
10 2024-02-27 07:14:19.294       SC61411            Wahyu Azizah Putri
11 2024-02-27 14:51:24.293       SC61409     Putri Shandra Vibriyanti
12 2024-02-27 16:48:02.037       SC61416       Muhammad Rifqi Fadhilah
13 2024-02-27 17:07:26.179       SC61425                 Yugo Pratama
14 2024-02-27 19:45:52.558       SC61424                Ruthesia Grace
15 2024-02-27 19:48:22.606       SC61412     Angelica Mailen Sipasulta
16 2024-02-27 20:43:52.120       SC61413                  Dedy Hartono
17 2024-02-27 22:15:06.473       SC61419        Almira Rahma Valentina
18 2024-02-27 22:18:21.295       SC61401            Aiman Farid Fawwaz

                   Jurusan  Berat Badan (kg)  Tinggi Badan (cm)        BMI
0               Matematika                50                160  19.531250
1               Matematika                45                160  17.578125
2             Ilmu Ekonomi                70                172  23.661439
3             Informatika                 60                160  23.437500
4       Teknik Informatika                75                170  25.951557
5              Informatika                55                168  19.486961
6                Manajemen                75                167  26.892323
7               Matematika                65                162  24.767566
8               Matematika                54                161  20.832530
9                Sosiologi                63                170  21.799308
10               Manajemen                50                164  18.590125
11  Sistem Telekomunikasi                 54                160  21.093750
12      Teknik Informatika                66                175  21.551020
13  Teknik Telekomunikasi                 68                165  24.977043
14              Matematika                56                156  23.011177
15      Teknik Informatika                56                164  20.820940
16      Teknik Informatika                62                167  22.230987
17              Statistika                52                165  19.100092
18        Sistem Informasi                45                167  16.135394

In [ ]:
def hitung_status_BMI(BMI): # Fungsi untuk menghitung status BMI
  if BMI < 18.5:
    status_BMI = "Underweight"
  elif BMI > 18.5 and BMI <= 24.9:
    status_BMI = "Normal"
  elif BMI > 24.9 and BMI <= 29.9:
    status_BMI = "Overweight"
  else:
    status_BMI = "Obesity"
  return  status_BMI

In [ ]:
df_14['Status BMI'] = df_14.apply(lambda row: hitung_status_BMI(row['Berat Badan (kg)'] / ((row['Tinggi Badan (cm)'] / 100) ** 2)), axis=1) # Syntax untuk menambahkan kolom status BMI

In [ ]:
print(df_14)

                 Timestamp Nomor Peserta                  Nama Lengkap  \
0  2024-02-26 22:53:13.757       SC61423  Ni Nyoman Bintang Marscelina
1  2024-02-26 23:14:38.870       SC61408                 Namia Fimieta
2  2024-02-26 23:34:03.101       SC61422         Luthfan Dipo Ramadhan
3  2024-02-26 23:37:00.133       SC61403              Anisya Wulandari
4  2024-02-26 23:46:36.507       SC61406               M. Dzaky Efendi
5  2024-02-26 23:47:36.143       SC61421         Fijar Yasmina Pritama
6  2024-02-27 00:05:06.707       SC61414            Haikal Humam Hafiz
7  2024-02-27 00:22:12.051       SC61418                 Sucik Arifah
8  2024-02-27 00:43:51.233       SC61404                 Fathan Nabila
9  2024-02-27 00:47:15.682       SC61402      Ardhiya Mahfira Prasasta
10 2024-02-27 07:14:19.294       SC61411            Wahyu Azizah Putri
11 2024-02-27 14:51:24.293       SC61409     Putri Shandra Vibriyanti
12 2024-02-27 16:48:02.037       SC61416       Muhammad Rifqi Fadhilah
13 2024-02-27 17:07:26.179       SC61425                 Yugo Pratama
14 2024-02-27 19:45:52.558       SC61424                Ruthesia Grace
15 2024-02-27 19:48:22.606       SC61412     Angelica Mailen Sipasulta
16 2024-02-27 20:43:52.120       SC61413                  Dedy Hartono
17 2024-02-27 22:15:06.473       SC61419        Almira Rahma Valentina
18 2024-02-27 22:18:21.295       SC61401            Aiman Farid Fawwaz

                   Jurusan  Berat Badan (kg)  Tinggi Badan (cm)        BMI  \
0               Matematika                50                160  19.531250
1               Matematika                45                160  17.578125
2             Ilmu Ekonomi                70                172  23.661439
3             Informatika                 60                160  23.437500
4       Teknik Informatika                75                170  25.951557
5              Informatika                55                168  19.486961
6                Manajemen                75                167  26.892323
7               Matematika                65                162  24.767566
8               Matematika                54                161  20.832530
9                Sosiologi                63                170  21.799308
10               Manajemen                50                164  18.590125
11  Sistem Telekomunikasi                 54                160  21.093750
12      Teknik Informatika                66                175  21.551020
13  Teknik Telekomunikasi                 68                165  24.977043
14              Matematika                56                156  23.011177
15      Teknik Informatika                56                164  20.820940
16      Teknik Informatika                62                167  22.230987
17              Statistika                52                165  19.100092
18        Sistem Informasi                45                167  16.135394

     Status BMI
0        Normal
1   Underweight
2        Normal
3        Normal
4    Overweight
5        Normal
6    Overweight
7        Normal
8        Normal
9        Normal
10       Normal
11       Normal
12       Normal
13   Overweight
14       Normal
15       Normal
16       Normal
17       Normal
18  Underweight

In [ ]:
data_urut_tinggi = df_14.sort_values(by='Tinggi Badan (cm)', ascending=False) # membuat variabel baru untuk mengurutkan data berdasarkan tinggi badan

In [ ]:
print(data_urut_tinggi)

                 Timestamp Nomor Peserta                  Nama Lengkap  \
12 2024-02-27 16:48:02.037       SC61416       Muhammad Rifqi Fadhilah
2  2024-02-26 23:34:03.101       SC61422         Luthfan Dipo Ramadhan
9  2024-02-27 00:47:15.682       SC61402      Ardhiya Mahfira Prasasta
4  2024-02-26 23:46:36.507       SC61406               M. Dzaky Efendi
5  2024-02-26 23:47:36.143       SC61421         Fijar Yasmina Pritama
16 2024-02-27 20:43:52.120       SC61413                  Dedy Hartono
18 2024-02-27 22:18:21.295       SC61401            Aiman Farid Fawwaz
6  2024-02-27 00:05:06.707       SC61414            Haikal Humam Hafiz
13 2024-02-27 17:07:26.179       SC61425                 Yugo Pratama
17 2024-02-27 22:15:06.473       SC61419        Almira Rahma Valentina
10 2024-02-27 07:14:19.294       SC61411            Wahyu Azizah Putri
15 2024-02-27 19:48:22.606       SC61412     Angelica Mailen Sipasulta
7  2024-02-27 00:22:12.051       SC61418                 Sucik Arifah
8  2024-02-27 00:43:51.233       SC61404                 Fathan Nabila
1  2024-02-26 23:14:38.870       SC61408                 Namia Fimieta
11 2024-02-27 14:51:24.293       SC61409     Putri Shandra Vibriyanti
3  2024-02-26 23:37:00.133       SC61403              Anisya Wulandari
0  2024-02-26 22:53:13.757       SC61423  Ni Nyoman Bintang Marscelina
14 2024-02-27 19:45:52.558       SC61424                Ruthesia Grace

                   Jurusan  Berat Badan (kg)  Tinggi Badan (cm)        BMI  \
12      Teknik Informatika                66                175  21.551020
2             Ilmu Ekonomi                70                172  23.661439
9                Sosiologi                63                170  21.799308
4       Teknik Informatika                75                170  25.951557
5              Informatika                55                168  19.486961
16      Teknik Informatika                62                167  22.230987
18        Sistem Informasi                45                167  16.135394
6                Manajemen                75                167  26.892323
13  Teknik Telekomunikasi                 68                165  24.977043
17              Statistika                52                165  19.100092
10               Manajemen                50                164  18.590125
15      Teknik Informatika                56                164  20.820940
7               Matematika                65                162  24.767566
8               Matematika                54                161  20.832530
1               Matematika                45                160  17.578125
11  Sistem Telekomunikasi                 54                160  21.093750
3             Informatika                 60                160  23.437500
0               Matematika                50                160  19.531250
14              Matematika                56                156  23.011177

     Status BMI
12       Normal
2        Normal
9        Normal
4    Overweight
5        Normal
16       Normal
18  Underweight
6    Overweight
13   Overweight
17       Normal
10       Normal
15       Normal
7        Normal
8        Normal
1   Underweight
11       Normal
3        Normal
0        Normal
14       Normal

In [ ]:
data_urut_nama = df_14.sort_values(by='Nama Lengkap', ascending=False) # Membuat variabel baru untuk mengurutkan data berdasarkan nama lengkap

In [ ]:
print(data_urut_nama)

                 Timestamp Nomor Peserta                  Nama Lengkap  \
13 2024-02-27 17:07:26.179       SC61425                 Yugo Pratama
10 2024-02-27 07:14:19.294       SC61411            Wahyu Azizah Putri
7  2024-02-27 00:22:12.051       SC61418                 Sucik Arifah
14 2024-02-27 19:45:52.558       SC61424                Ruthesia Grace
11 2024-02-27 14:51:24.293       SC61409     Putri Shandra Vibriyanti
0  2024-02-26 22:53:13.757       SC61423  Ni Nyoman Bintang Marscelina
1  2024-02-26 23:14:38.870       SC61408                 Namia Fimieta
12 2024-02-27 16:48:02.037       SC61416       Muhammad Rifqi Fadhilah
4  2024-02-26 23:46:36.507       SC61406               M. Dzaky Efendi
2  2024-02-26 23:34:03.101       SC61422         Luthfan Dipo Ramadhan
6  2024-02-27 00:05:06.707       SC61414            Haikal Humam Hafiz
5  2024-02-26 23:47:36.143       SC61421         Fijar Yasmina Pritama
8  2024-02-27 00:43:51.233       SC61404                 Fathan Nabila
16 2024-02-27 20:43:52.120       SC61413                  Dedy Hartono
9  2024-02-27 00:47:15.682       SC61402      Ardhiya Mahfira Prasasta
3  2024-02-26 23:37:00.133       SC61403              Anisya Wulandari
15 2024-02-27 19:48:22.606       SC61412     Angelica Mailen Sipasulta
17 2024-02-27 22:15:06.473       SC61419        Almira Rahma Valentina
18 2024-02-27 22:18:21.295       SC61401            Aiman Farid Fawwaz

                   Jurusan  Berat Badan (kg)  Tinggi Badan (cm)        BMI  \
13  Teknik Telekomunikasi                 68                165  24.977043
10               Manajemen                50                164  18.590125
7               Matematika                65                162  24.767566
14              Matematika                56                156  23.011177
11  Sistem Telekomunikasi                 54                160  21.093750
0               Matematika                50                160  19.531250
1               Matematika                45                160  17.578125
12      Teknik Informatika                66                175  21.551020
4       Teknik Informatika                75                170  25.951557
2             Ilmu Ekonomi                70                172  23.661439
6                Manajemen                75                167  26.892323
5              Informatika                55                168  19.486961
8               Matematika                54                161  20.832530
16      Teknik Informatika                62                167  22.230987
9                Sosiologi                63                170  21.799308
3             Informatika                 60                160  23.437500
15      Teknik Informatika                56                164  20.820940
17              Statistika                52                165  19.100092
18        Sistem Informasi                45                167  16.135394

     Status BMI
13   Overweight
10       Normal
7        Normal
14       Normal
11       Normal
0        Normal
1   Underweight
12       Normal
4    Overweight
2        Normal
6    Overweight
5        Normal
8        Normal
16       Normal
9        Normal
3        Normal
15       Normal
17       Normal
18  Underweight

In [ ]:
# Syntax untuk memfilter bedasarkan status BMI yang tidak termasuk normal
filter1 = df_14[df_14['Status BMI'] != 'Normal']

# Syntax untuk memfilter berdasarkan tinggi badan lebih dari 169 cm dan berat lebih dari 60 kg
filter2 = df_14[(df_14['Tinggi Badan (cm)'] > 169) & (df_14['Berat Badan (kg)'] > 60)]

# Syntax untuk memfilter berdasarkan nama yang mengandung char "y"
filter3 = df_14[df_14['Nama Lengkap'].str.contains('y', case=False)]

# Syntax untuk memfilter berdasarkan yang berat badannya lebih dari 60 kg
filter4 = df_14[df_14['Berat Badan (kg)'] < 60]

In [ ]:
# Syntax jika ingin menggabungkan 4 filter menjadi 1 kondisi
filtered_data = df_14[(df_14['Status BMI'] != 'Normal') &
                 (df_14['Tinggi Badan (cm)'] > 169) &
                 (df_14['Berat Badan (kg)'] > 60) &
                 (df_14['Nama Lengkap'].str.contains('y', case=False)) &
                 (df_14['Berat Badan (kg)'] < 60)]

In [ ]:
print(filter1)

                 Timestamp Nomor Peserta        Nama Lengkap  \
1  2024-02-26 23:14:38.870       SC61408       Namia Fimieta
4  2024-02-26 23:46:36.507       SC61406     M. Dzaky Efendi
6  2024-02-27 00:05:06.707       SC61414  Haikal Humam Hafiz
13 2024-02-27 17:07:26.179       SC61425       Yugo Pratama
18 2024-02-27 22:18:21.295       SC61401  Aiman Farid Fawwaz

                   Jurusan  Berat Badan (kg)  Tinggi Badan (cm)        BMI  \
1               Matematika                45                160  17.578125
4       Teknik Informatika                75                170  25.951557
6                Manajemen                75                167  26.892323
13  Teknik Telekomunikasi                 68                165  24.977043
18        Sistem Informasi                45                167  16.135394

     Status BMI
1   Underweight
4    Overweight
6    Overweight
13   Overweight
18  Underweight

In [ ]:
# Syntax untuk menambahkan kolom "No."
df_14['No.'] = df_14.reset_index().index + 1

# Syntax untuk memindahkan kolom "No." jadi ke paling kiri
cols = df_14.columns.tolist()
cols = ['No.'] + [col for col in cols if col != 'No.']
df_14 = df_14[cols]

In [ ]:
print(df_14)

    No.               Timestamp Nomor Peserta                  Nama Lengkap  \
0     1 2024-02-26 22:53:13.757       SC61423  Ni Nyoman Bintang Marscelina
1     2 2024-02-26 23:14:38.870       SC61408                 Namia Fimieta
2     3 2024-02-26 23:34:03.101       SC61422         Luthfan Dipo Ramadhan
3     4 2024-02-26 23:37:00.133       SC61403              Anisya Wulandari
4     5 2024-02-26 23:46:36.507       SC61406               M. Dzaky Efendi
5     6 2024-02-26 23:47:36.143       SC61421         Fijar Yasmina Pritama
6     7 2024-02-27 00:05:06.707       SC61414            Haikal Humam Hafiz
7     8 2024-02-27 00:22:12.051       SC61418                 Sucik Arifah
8     9 2024-02-27 00:43:51.233       SC61404                 Fathan Nabila
9    10 2024-02-27 00:47:15.682       SC61402      Ardhiya Mahfira Prasasta
10   11 2024-02-27 07:14:19.294       SC61411            Wahyu Azizah Putri
11   12 2024-02-27 14:51:24.293       SC61409     Putri Shandra Vibriyanti
12   13 2024-02-27 16:48:02.037       SC61416       Muhammad Rifqi Fadhilah
13   14 2024-02-27 17:07:26.179       SC61425                 Yugo Pratama
14   15 2024-02-27 19:45:52.558       SC61424                Ruthesia Grace
15   16 2024-02-27 19:48:22.606       SC61412     Angelica Mailen Sipasulta
16   17 2024-02-27 20:43:52.120       SC61413                  Dedy Hartono
17   18 2024-02-27 22:15:06.473       SC61419        Almira Rahma Valentina
18   19 2024-02-27 22:18:21.295       SC61401            Aiman Farid Fawwaz

                   Jurusan  Berat Badan (kg)  Tinggi Badan (cm)        BMI  \
0               Matematika                50                160  19.531250
1               Matematika                45                160  17.578125
2             Ilmu Ekonomi                70                172  23.661439
3             Informatika                 60                160  23.437500
4       Teknik Informatika                75                170  25.951557
5              Informatika                55                168  19.486961
6                Manajemen                75                167  26.892323
7               Matematika                65                162  24.767566
8               Matematika                54                161  20.832530
9                Sosiologi                63                170  21.799308
10               Manajemen                50                164  18.590125
11  Sistem Telekomunikasi                 54                160  21.093750
12      Teknik Informatika                66                175  21.551020
13  Teknik Telekomunikasi                 68                165  24.977043
14              Matematika                56                156  23.011177
15      Teknik Informatika                56                164  20.820940
16      Teknik Informatika                62                167  22.230987
17              Statistika                52                165  19.100092
18        Sistem Informasi                45                167  16.135394

     Status BMI
0        Normal
1   Underweight
2        Normal
3        Normal
4    Overweight
5        Normal
6    Overweight
7        Normal
8        Normal
9        Normal
10       Normal
11       Normal
12       Normal
13   Overweight
14       Normal
15       Normal
16       Normal
17       Normal
18  Underweight

In [ ]:
# Syntax untuk mencari Nilai BMI terendah
nilai_terendah = df_14['BMI'].min()
# Syntax untuk mencari Nilai BMI  tertinggi
nilai_tertinggi = df_14['BMI'].max()

print("Nilai BMI terendah:",nilai_terendah)
print("Nilai BMI tertinggi:", nilai_tertinggi)

Nilai BMI terendah: 16.1353938828929
Nilai BMI tertinggi: 26.89232313815483

In [ ]:
rata_rata_tinggi = df_14['Tinggi Badan (cm)'].mean() #Syntax untuk mencari rata rata tinggi badan

print("rata rata tinggi mahasiswa:",rata_rata_tinggi)

rata rata tinggi mahasiswa: 164.89473684210526

In [ ]:
rata_rata_berat = df_14['Berat Badan (kg)'].mean() #Syntax untuk mencari rata rata berat badan
print("rata rata berat mahasiswa:",rata_rata_berat)

rata rata berat mahasiswa: 59.0

In [ ]:
jumlah_siswa = len(df_14) #syntax untnuk mencari jumlah mahasiswa
print("Jumlah mahasiswa:",jumlah_siswa)

Jumlah mahasiswa: 19

In [ ]:
top_5_bmi = df_14.nlargest(5, 'BMI') #syntax untuk menampilkan 5 data berdasarkan BMI paling besar
print(top_5_bmi)

    No.               Timestamp Nomor Peserta           Nama Lengkap  \
6     7 2024-02-27 00:05:06.707       SC61414     Haikal Humam Hafiz
4     5 2024-02-26 23:46:36.507       SC61406        M. Dzaky Efendi
13   14 2024-02-27 17:07:26.179       SC61425          Yugo Pratama
7     8 2024-02-27 00:22:12.051       SC61418          Sucik Arifah
2     3 2024-02-26 23:34:03.101       SC61422  Luthfan Dipo Ramadhan

                   Jurusan  Berat Badan (kg)  Tinggi Badan (cm)        BMI  \
6                Manajemen                75                167  26.892323
4       Teknik Informatika                75                170  25.951557
13  Teknik Telekomunikasi                 68                165  24.977043
7               Matematika                65                162  24.767566
2             Ilmu Ekonomi                70                172  23.661439

    Status BMI
6   Overweight
4   Overweight
13  Overweight
7       Normal
2       Normal

In [ ]:
jumlah_underweight = len(df_14[df_14['Status BMI'] == 'Underweight']) # Menghitung jumlah Underweight
jumlah_normal = len(df_14[df_14['Status BMI'] == 'Normal']) # Menghitung jumlah Normal
jumlah_overweight = len(df_14[df_14['Status BMI'] == 'Overweight']) # Menghitung jumlah Overweight
jumlah_obesity = len(df_14[df_14['Status BMI'] == 'Obesity']) # Menghitung jumlah Obes

print("jumlah Underweight:",jumlah_underweight)
print("jumlah Normal:",jumlah_normal)
print("jumlah Overweight:",jumlah_overweight)
print("jumlah Obesity:",jumlah_obesity)

jumlah Underweight: 2
jumlah Normal: 14
jumlah Overweight: 3
jumlah Obesity: 0